    <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/authors">Authors</a>
    </nav>
    <header class="main-header">
        
        <h1 class="masthead"><a href="/">Rittha</a></h1>
    
    </header>